<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppBillRecordMapper">

    <sql id="fields_id">
        id,userId,balance,busnessType,createTime,businessNumber,remark,beforeBalance,afterBalance,extend
    </sql>

    <sql id="table_name">app_bill_record</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.userId != null and model.userId != ''">userId=#{model.userId}</if>
            <if test="model.busnessType != null and model.busnessType != ''">busnessType=#{model.busnessType}</if>
        </where>
    </sql>

  
    
    <select id="findAll" resultType="com.xlf.common.vo.pc.WebBillRecordVo">
       	SELECT b.*,u.uid,u.mobile from app_bill_record b left join app_user u on b.userId=u.id
       	<where>
       	 1 = 1
		<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
		<if test="model.busnessType != null and model.busnessType != ''">AND b.busnessType=#{model.busnessType}</if>
		<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
		
		<if test="model.businessNumber != null and model.businessNumber != ''">AND b.businessNumber=#{model.businessNumber}</if>
		
		</where>
		ORDER BY b.createTime DESC
		limit #{startRow}, #{pageSize};
    </select>
    
    <select id="findCount" resultType="int">
    	SELECT count(1) from app_bill_record b left join app_user u on b.userId=u.id
    	<where>
       	 1 = 1
		<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
		<if test="model.busnessType != null and model.busnessType != ''">AND b.busnessType=#{model.busnessType}</if>
		<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
		
		<if test="model.businessNumber != null and model.businessNumber != ''">AND b.businessNumber=#{model.businessNumber}</if>
		</where>
    </select>

	<select id="findBillRecord" resultType="com.xlf.common.vo.app.AppBillRecordVo">
		SELECT bill.*,user.mobile,user.imgPath,user.nickName from app_bill_record bill left join app_user user on bill.userId=user.id
		<where>
			<if test="model.userId != null and model.userId != ''"> AND bill.userId=#{model.userId}</if>
			<if test="model.busnessType != null and model.busnessType != ''"> AND bill.busnessType=#{model.busnessType}</if>
		</where>
		order by bill.createTime desc
	</select>

    <select id="billRecordListTotal" resultType="Integer">
        SELECT count(1) from app_bill_record b left join app_user u on b.userId=u.id where userId=#{userId}
		and busnessType IN
		<foreach collection="list" open="(" close=")" item="item" separator="," index="index">
            #{item}
        </foreach>
    </select>

    <select id="findBillRecordList" resultType="com.xlf.common.vo.app.AppBillRecordVo">
        SELECT bill.*,user.mobile,user.imgPath,user.nickName from app_bill_record bill left join app_user user on bill.userId=user.id
        where userId=#{userId}
        and busnessType IN
        <foreach collection="list" open="(" close=")" item="item" separator="," index="index">
            #{item}
        </foreach>
        order by bill.createTime desc
    </select>


	<select id="SUMCount" resultType ="BigDecimal">
		select ifnull(SUM(balance),0) from  app_bill_record
		<where>
       	 1 = 1
		<if test="model.busnessType != null and model.busnessType != ''">AND busnessType=#{model.busnessType}</if>
		<if test="model.startTime != null">AND createTime&gt;=#{model.startTime}</if>
		</where>
	</select>

	<insert id="batchSaveKickBackAmoutRecord">
		INSERT INTO tb1_emplyee(id,userId,busnessType,createTime,businessNumber,balance,beforeBalance,afterBalance,extend,remark)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userId},#{item.busnessType},#{item.createTime},#{item.businessNumber},#{item.balance},#{item.beforeBalance},#{item.afterBalance},#{item.extend},#{item.remark})
		</foreach>
	</insert>


	<select id="revenueList" resultType="com.xlf.common.vo.pc.RevenueVo">
		select a.* from sys_user a
		 INNER JOIN
			(select sum(case b.busnessType when 21 then b.balance when 23 then b.balance when 31 then b.balance when 33 then b.balance else 0 end) as betTotal,
					 sum(case b.busnessType when 22 then b.balance when 32 then b.balance else 0 end) as lotteryTotal,
					 b.busnessType,b.userId,a.parentId from app_user a
			   LEFT JOIN app_bill_record b on a.id = b.userid
				<where>
					1 = 1
					<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
					<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
				</where>
			  GROUP BY a.id
			) as t on a.id=t.parentId
		INNER JOIN
			(select sum(case b.busnessType when 1 then b.balance else 0 end) as bus1,
					 sum(case b.busnessType when 2 then b.balance else 0 end) as bus2,
					 b.busnessType,a.id from sys_user a
			   LEFT JOIN app_bill_record b on a.id = b.userid
			<where>
				a.roleType='20'
				<if test="model.userid != null and model.userid != ''">AND a.id=#{model.userid}</if>
				<if test="model.uid != null and model.uid != ''">AND a.uid=#{model.uid}</if>
				<if test="model.mobile != null and model.mobile != ''">AND a.mobile=#{model.mobile}</if>
				<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
				<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
			</where>
			  GROUP BY a.id
			) as t2 on a.id=t2.id
	</select>
</mapper>


