<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppBillRecordMapper">

    <sql id="fields_id">
        id,userId,balance,busnessType,createTime,businessNumber,remark,beforeBalance,afterBalance,extend
    </sql>

    <sql id="table_name">app_bill_record</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.userId != null and model.userId != ''">userId=#{model.userId}</if>
            <if test="model.busnessType != null and model.busnessType != ''">busnessType=#{model.busnessType}</if>
        </where>
    </sql>

  
    
    <select id="findAll" resultType="com.xlf.common.vo.pc.WebBillRecordVo">
		select t.* from (
			SELECT b.*,u.uid,u.mobile from app_bill_record b inner join app_user u on b.userId=u.id
			<where>
				1 = 1
				<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
				<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
				<if test="model.busnessType != null and model.busnessType != ''">AND b.busnessType=#{model.busnessType}</if>
				<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
				<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
				<if test="model.businessNumber != null and model.businessNumber != ''">AND b.businessNumber=#{model.businessNumber}</if>
				<if test="model.parentId != null and model.parentId != ''">AND u.parentId=#{model.parentId}</if>

			</where>
			union all
			SELECT b.*,'代理' as uid,u.mobile from app_bill_record b inner join sys_user u on b.userId=u.id
			<where>
				1 = 1
				<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
				<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
				<if test="model.busnessType != null and model.busnessType != ''">AND b.busnessType=#{model.busnessType}</if>
				<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
				<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
				<if test="model.businessNumber != null and model.businessNumber != ''">AND b.businessNumber=#{model.businessNumber}</if>
				<if test="model.parentId != null and model.parentId != ''">AND u.id=#{model.parentId}</if>

			</where>
		) as t
		ORDER BY t.createTime DESC
		limit #{startRow}, #{pageSize};
    </select>
    
    <select id="findCount" resultType="int">
    	SELECT count(1) from app_bill_record b left join app_user u on b.userId=u.id
    	<where>
       	 1 = 1
		<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
		<if test="model.busnessType != null and model.busnessType != ''">AND b.busnessType=#{model.busnessType}</if>
		<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
		<if test="model.businessNumber != null and model.businessNumber != ''">AND b.businessNumber=#{model.businessNumber}</if>
		<if test="model.parentId != null and model.parentId != ''">AND u.parentId=#{model.parentId}</if>
		</where>
    </select>

	<select id="findBillRecord" resultType="com.xlf.common.vo.app.AppBillRecordVo">
		SELECT bill.*,user.mobile,user.imgPath,user.nickName from app_bill_record bill left join app_user user on bill.userId=user.id
		<where>
			<if test="model.userId != null and model.userId != ''"> AND bill.userId=#{model.userId}</if>
			<if test="model.currencyType != null and model.currencyType != ''"> AND bill.currencyType=#{model.currencyType}</if>
			<if test="model.busnessType != null and model.busnessType != ''"> AND bill.busnessType=#{model.busnessType}</if>
		</where>
		order by bill.createTime desc
	</select>

    <select id="billRecordListTotal" resultType="Integer">
        SELECT count(1) from app_bill_record b left join app_user u on b.userId=u.id
		<where>
			1=1
			AND userId=#{userId}
			and busnessType IN
			<foreach collection="list" open="(" close=")" item="item" separator="," index="index">
				#{item}
			</foreach>
			<if test="startTime != null">AND b.createTime &gt;= #{startTime}</if>
			<if test="endTime != null">AND b.createTime &lt; #{endTime}</if>
		</where>
    </select>

    <select id="findBillRecordList" resultType="com.xlf.common.vo.app.AppBillRecordVo">
        SELECT bill.*,user.mobile,user.imgPath,user.nickName from app_bill_record bill left join app_user user on bill.userId=user.id
		<where>
			1=1
			AND userId=#{userId}
			and busnessType IN
			<foreach collection="list" open="(" close=")" item="item" separator="," index="index">
				#{item}
			</foreach>
			<if test="startTime != null">AND bill.createTime &gt;= #{startTime}</if>
			<if test="endTime != null">AND bill.createTime &lt; #{endTime}</if>
		</where>
		order by bill.createTime desc
    </select>

	<insert id="batchSaveKickBackAmoutRecord">
		INSERT INTO  <include refid="table_name"/>(id,userId,busnessType,createTime,businessNumber,balance,beforeBalance,afterBalance,extend,remark)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userId},#{item.busnessType},#{item.createTime},#{item.businessNumber},#{item.balance},#{item.beforeBalance},#{item.afterBalance},#{item.extend},#{item.remark})
		</foreach>
	</insert>


	<select id="revenueList" resultType="com.xlf.common.vo.pc.RevenueVo">
		select a.*,t.betTotal as betScore,(t.lotteryTotal+t.betTotal) as memberRs,t2.bus1 as agentProfit,b.agentName,t.betCount
		  from sys_user a
		 inner join sys_agent_setting b on a.agentLevelId = b.id
		 left JOIN
			(select sum(case b.busnessType when 21 then b.balance when 23 then b.balance when 31 then b.balance when 33 then b.balance else 0 end) as betTotal,
					 sum(case b.busnessType when 22 then b.balance when 32 then b.balance else 0 end) as lotteryTotal,count(1) as betCount,
					 b.busnessType,b.userId,a.parentId from app_user a
			   LEFT JOIN app_bill_record b on a.id = b.userid
				<where>
					1 = 1 and a.state='10'
					<if test="model.userId != null and model.userId != ''">AND a.parentId=#{model.userId}</if>
					<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
					<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
					<if test="model.startDiff != null">AND datediff(b.createtime,now())>=#{model.startDiff}</if>
					<if test="model.endDiff != null">AND datediff(b.createtime,now()) &lt;=#{model.endDiff}</if>
				</where>
			  GROUP BY a.parentId
			) as t on a.id=t.parentId
		left JOIN
			(select sum(case b.busnessType when 51 then b.balance else 0 end) as bus1,
					 0 as bus2,
					 b.busnessType,a.id from sys_user a
			   LEFT JOIN app_bill_record b on a.id = b.userid
			<where>
				a.roleType='20'
				<if test="model.userId != null and model.userId != ''">AND a.id=#{model.userId}</if>
				<if test="model.mobile != null and model.mobile != ''">AND a.mobile=#{model.mobile}</if>
				<if test="model.startTime != null">AND b.createTime&gt;=#{model.startTime}</if>
				<if test="model.endTime != null">AND b.createTime&lt;#{model.endTime}</if>
				<if test="model.startDiff != null">AND datediff(b.createtime,now())>=#{model.startDiff}</if>
				<if test="model.endDiff != null">AND datediff(b.createtime,now()) &lt;=#{model.endDiff}</if>
			</where>
			  GROUP BY a.id
			) as t2 on a.id=t2.id
		<where>
			a.roleType='20'
			<if test="model.userId != null and model.userId != ''"> AND a.id=#{model.userId}</if>
		</where>
	</select>

	<select id="report" resultType="java.lang.Double">
		SELECT SUM(b.balance) from app_bill_record b left join app_user u on b.userId=u.id where userId=#{userId}
		and busnessType IN
		<foreach collection="list" open="(" close=")" item="item" separator="," index="index">
			#{item}
		</foreach>
		<if test="startTime != null">AND b.createTime&gt;=#{startTime}</if>
		<if test="endTime != null">AND b.createTime&lt;#{endTime}</if>
	</select>


	<select id="reportCount" resultType="java.lang.Integer">
		SELECT COUNT(id) from app_bill_record b  where userId=#{userId}
		and busnessType IN
		<foreach collection="list" open="(" close=")" item="item" separator="," index="index">
			#{item}
		</foreach>
		<if test="startTime != null">AND b.createTime&gt;=#{startTime}</if>
		<if test="endTime != null">AND b.createTime&lt;#{endTime}</if>
	</select>
</mapper>


