<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppRacingBettingMapper">


    <sql id="fields">
         issueNo,userId,lotteryOne,lotteryTwo,lotteryThree,lotteryFour,lotteryFive,lotterySix,lotterySeven,lotteryEight,lotteryNine,lotteryTen,lotteryFlag,winningAmount,multiple,createTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_racing_betting</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>
    <select id="wininggCount">
        select count(id) from
        <include refid="table_name"/>
        <where>
            issuNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
            <if test="seat==6">AND lotterySix=#{digital}</if>
            <if test="seat==7">AND lotterySeven=#{digital}</if>
            <if test="seat==8">AND lotteryEight=#{digital}</if>
            <if test="seat==9">AND lotteryNine=#{digital}</if>
            <if test="seat==10">AND lotteryTen=#{digital}</if>
        </where>
    </select>


    <select id="listWininggByIssuNo">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
        <where>
            issuNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
            <if test="seat==6">AND lotterySix=#{digital}</if>
            <if test="seat==7">AND lotterySeven=#{digital}</if>
            <if test="seat==8">AND lotteryEight=#{digital}</if>
            <if test="seat==9">AND lotteryNine=#{digital}</if>
            <if test="seat==10">AND lotteryTen=#{digital}</if>
        </where>
    </select>

<!--    <update id="updateBatchLotteryFlagByIds">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=20,winningAmount=0
        WHERE
        id IN
        <foreach collection="list" separator="," open="(" close=")" item="item">#{item}</foreach>
    </update>-->

    <update id="updateBatchLotteryFlag">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=20,winningAmount=0 WHERE issueNo=#{issueNo} and lotteryFlag=10
    </update>


</mapper>



