<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppRacingBettingMapper">


    <sql id="fields">
         issueNo,userId,lotteryOne,lotteryTwo,lotteryThree,lotteryFour,lotteryFive,lotterySix,lotterySeven,lotteryEight,lotteryNine,lotteryTen,lotteryFlag,winningAmount,multiple,createTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_racing_betting</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>
    <select id="wininggCount">
        select count(id) from
        <include refid="table_name"/>
        <where>
            issuNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
            <if test="seat==6">AND lotterySix=#{digital}</if>
            <if test="seat==7">AND lotterySeven=#{digital}</if>
            <if test="seat==8">AND lotteryEight=#{digital}</if>
            <if test="seat==9">AND lotteryNine=#{digital}</if>
            <if test="seat==10">AND lotteryTen=#{digital}</if>
        </where>
    </select>


    <select id="listWininggByIssuNo">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
        <where>
            issuNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
            <if test="seat==6">AND lotterySix=#{digital}</if>
            <if test="seat==7">AND lotterySeven=#{digital}</if>
            <if test="seat==8">AND lotteryEight=#{digital}</if>
            <if test="seat==9">AND lotteryNine=#{digital}</if>
            <if test="seat==10">AND lotteryTen=#{digital}</if>
        </where>
    </select>

<!--    <update id="updateBatchLotteryFlagByIds">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=20,winningAmount=0
        WHERE
        id IN
        <foreach collection="list" separator="," open="(" close=")" item="item">#{item}</foreach>
    </update>-->

    <update id="updateBatchLotteryFlag">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=20,winningAmount=0 WHERE issueNo=#{issueNo} and lotteryFlag=10
    </update>



    <select id="findAll" resultType="com.xlf.common.vo.pc.LotteryVo">
        select t.*,u.uid,u.nickName from
            (SELECT a.id,a.issueNo,a.userId,a.betType,
                    (ifnull(a.lotteryOne,'_')+ifnull(a.lotteryTwo,'_')+ifnull(a.lotteryThree,'_')+ifnull(a.lotteryFour,'_')+ifnull(a.lotteryFive,'_')+ifnull(a.lotterySix,'_')
                    +ifnull(a.lotterySeven,'_')+ifnull(a.lotteryEight,'_')+ifnull(a.lotteryNine,'_')+ifnull(a.lotteryTen,'_')) as content
                    ,a.lotteryFlag,a.winningAmount,a.multiple,a.createTime,'10' as gameType,
                    (b.lotteryOne+b.lotteryTwo+b.lotteryOne+b.lotteryOne+b.lotteryOne+b.lotteryOne+b.lotteryOne+b.lotteryOne+b.lotteryOne+b.lotteryOne) as lottery
             FROM `app_racing_betting` a LEFT JOIN app_time_betting b on a.issueNo=b.issueNo
            <where>
                1 = 1
                <if test="model.gameType != null and model.gameType != ''">AND gameType=#{model.gameType}</if>
                <if test="model.issueNo != null and model.issueNo != ''">AND a.issueNo=#{model.issueNo}</if>
                <if test="model.betType != null and model.betType != ''">AND a.betType=#{model.betType}</if>
                <if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
                <if test="model.startTime != null">AND a.createTime&gt;=#{model.startTime}</if>
                <if test="model.endTime != null">AND a.createTime&lt;#{model.endTime}</if>
            </where>
            union all
            SELECT a.id,a.issueNo,a.userId,a.betType,
                    (ifnull(a.lotteryOne,'_')+ifnull(a.lotteryTwo,'_')+ifnull(a.lotteryThree,'_')+ifnull(a.lotteryFour,'_')+ifnull(a.lotteryFive,'_')) as content
                    ,a.flag,a.winningAmount,a.multiple,a.createTime,'20' as gameType,
                    (b.lotteryOne+b.lotteryTwo+b.lotteryThree+b.lotteryFour+b.lotteryFive) as lottery
             FROM `app_racing_lottery` a LEFT JOIN app_time_lottery b on a.issueNo=b.issueNo
            <where>
                1 = 1
                <if test="model.gameType != null and model.gameType != ''">AND gameType=#{model.gameType}</if>
                <if test="model.issueNo != null and model.issueNo != ''">AND a.issueNo=#{model.issueNo}</if>
                <if test="model.betType != null and model.betType != ''">AND a.betType=#{model.betType}</if>
                <if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
                <if test="model.startTime != null">AND a.createTime&gt;=#{model.startTime}</if>
                <if test="model.endTime != null">AND a.createTime&lt;#{model.endTime}</if>
            </where>
        ) as t
        LEFT  join app_user u on t.userid=u.id
        <where>
            1 = 1
            <if test="model.nickName != null and model.nickName != ''">AND u.nickName=#{model.nickName}</if>
            <if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
            <if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
        </where>
        ORDER BY t.createTime DESC
    </select>

</mapper>



