<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppTimeBettingMapper">


    <sql id="fields">
         issueNo,userId,lotteryOne,lotteryTwo,lotteryThree,lotteryFour,lotteryFive,lotteryFlag,winningAmount,multiple,createTime,serialNumber,betType,bettingContent,businessNumber
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_time_betting</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>


    <select id="wininggCount" resultType="java.lang.Integer">
        select count(id) from
        <include refid="table_name"/>
        <where>
            issueNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
        </where>
    </select>



    <select id="listWininggByIssuNo" resultType="com.xlf.common.po.AppTimeBettingPo">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
        <where>
            issueNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1">AND lotteryOne=#{digital}</if>
            <if test="seat==2">AND lotteryTwo=#{digital}</if>
            <if test="seat==3">AND lotteryThree=#{digital}</if>
            <if test="seat==4">AND lotteryFour=#{digital}</if>
            <if test="seat==5">AND lotteryFive=#{digital}</if>
        </where>
    </select>


    <select id="wininggCountAndWingConent" resultType="java.lang.Integer">
        select count(id) from
        <include refid="table_name"/>
        <where>
            issueNo=#{issuNo} AND lotteryFlag=#{lotteryFlag} AND betType=#{betType} AND bettingContent IN
            <foreach collection="list" separator="," open="(" close=")" item="item">#{item}</foreach>
        </where>
    </select>



    <select id="listWininggByIssuNoAndWingConent" resultType="com.xlf.common.po.AppTimeBettingPo">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
        <where>
            issueNo=#{issuNo} AND lotteryFlag=#{lotteryFlag} AND betType=#{betType}   AND bettingContent IN
            <foreach collection="list" separator="," open="(" close=")" item="item">#{item}</foreach>
        </where>
    </select>

    <update id="updateBatchLotteryFlag">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=20,winningAmount=0 WHERE issueNo=#{issueNo} and lotteryFlag=10
    </update>

    <select id="countBettingByUserIdAndIssueNoAndContent" resultType="java.lang.Integer">
        select count(id) from
        <include refid="table_name"/>
        <where>
            userId=#{userId} AND issueNo=#{issueNo}
            <if test="bettingContent!=null">AND bettingContent=#{bettingContent}</if>
            <if test="betType!=null">AND betType=#{betType}</if>
        </where>
    </select>


    <select id="findListByUserIdAndIssueNoAndContent" resultType="com.xlf.common.po.AppTimeBettingPo">
        select  <include refid="fields_id"/> from
        <include refid="table_name"/>
        <where>
            userId=#{userId} AND issueNo=#{issueNo}
            <if test="bettingContent!=null">AND bettingContent=#{bettingContent}</if>
            <if test="betType!=null">AND betType=#{betType}</if>
        </where>
    </select>

    <!-- 批量删除下注订单 -->
    <update id="updateLotteryFlagAndWingAmoutByIds">
        UPDATE
        <include refid="table_name"/>
        SET lotteryFlag=#{lotteryFlag},winningAmount=#{winingAmout}
        <where>
            id in
            <foreach item="idItem" collection="ids" index="index" open="(" separator="," close=")">
                #{idItem}
            </foreach>
        </where>
    </update>


</mapper>



