<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppTimeBettingMapper">


    <sql id="fields">
         issueNo,userId,lotteryOne,lotteryTwo,lotteryThree,lotteryFour,lotteryFive,lotteryFlag,winningAmount,multiple,createTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_time_betting</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>


    <select id="wininggCount">
        select count(id)   from   <include refid="table_name"/>
        <where>
            issuNo=#{issuNo} AND lotteryFlag=#{lotteryFlag}
            <if test="seat==1"> AND lotteryOne=#{digital} </if>
            <if test="seat==2"> AND lotteryTwo=#{digital} </if>
            <if test="seat==3"> AND lotteryOne=#{digital} </if>
            <if test="seat==4"> AND lotteryOne=#{digital} </if>
            <if test="seat==5"> AND lotteryOne=#{digital} </if>
        </where>
    </select>
    
</mapper>



