<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.server.mapper.AppUserMessageMapper">

    <sql id="fields">
    	userId,title,content,createTime,remark
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_user_message</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
        	1=1
            <if test="model.title != null and model.title != ''">and title=#{model.title}</if>
            <if test="model.content != null and model.content != ''">and content=#{model.content}</if>
            <if test="model.createTime != null and model.createTime != ''">and  createTime=#{model.createTime}</if>
            
        </where>
    </sql>
	
    <select id="readById" resultType="com.xlf.common.vo.pc.AppUserMessageVo">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select>

    <select id="findUserByCondition" resultType="com.xlf.common.vo.pc.AppUserMessageVo">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>

    <select id="readList" resultType="com.xlf.common.vo.pc.AppUserMessageVo">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY createTime DESC
        limit #{startRow}, #{pageSize};
    </select>
	
	<select id="getInfoByTime" resultType="com.xlf.common.vo.pc.AppUserMessageVo">
        SELECT  m.* ,u.uid from app_user_message m inner join app_user u on u.id  = m.userId
		WHERE 1=1  
		<if test="model.title != null and model.title != ''">and m.title LIKE '%${model.title}%'</if>
		<if test="model.content != null and model.content != ''">and m.content LIKE '%${model.content}%'</if>
		<if test="model.uid != null and model.uid != ''">and  u.uid=#{model.uid}</if>
		<if test="model.createTime != null">
		    AND m.createTime&gt;=#{model.createTime} 
		</if>
		<if test="model.endTime != null">
		    AND m.createTime&lt;#{model.endTime} 
		</if>
		
		ORDER BY m.createTime DESC
		limit #{startRow}, #{pageSize};
    </select>
</mapper>


