<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppUserMapper">

    <resultMap type="java.util.HashMap" id="resultMap">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="userType" property="userType" jdbcType="CHAR"/>
    </resultMap>

    <sql id="fields">
       uid,mobile,name,nickName,loginPwd,pwdStal,payPwd,payStal,parentId,balance,blockedBalance,bettingAmout,currentProfit,winingAmout,kickBackAmount,errorNo,state,imgPath,createTime,loginTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_user</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.uid != null and model.uid != ''">uid=#{model.uid}</if>
            <if test="model.mobile != null and model.mobile != ''">and mobile=#{model.mobile}</if>
            <if test="model.nickName != null and model.nickName != ''">and  nickName=#{model.nickName}</if>
            <if test="model.name != null and model.name != ''">and  name=#{model.name}</if>
            <if test="model.parentId != null and model.parentId != ''">and parentId=#{model.parentId}</if>
            <if test="model.state != null and model.state != ''">and state=#{model.state}</if>
        </where>
    </sql>
	
    <select id="readById" resultType="com.xlf.common.po.AppUserPo">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select>

    <select id="findUserByCondition" resultType="com.xlf.common.po.AppUserPo">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>

    <select id="readList" resultType="com.xlf.common.po.AppUserPo">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY createTime DESC
        limit #{startRow}, #{pageSize};
    </select>

    <update id="updateById">
        update <include refid="table_name"/>
        <set>
            <if test="model.mobile != null and model.mobile !=''">mobile= #{model.mobile},</if>
            <if test="model.nickName != null and model.nickName !=''">nickName= #{model.nickName},</if>
            <if test="model.name != null">name= #{model.name},</if>
            <if test="model.loginPwd != null and model.loginPwd !=''">loginPwd= #{model.loginPwd},</if>
            <if test="model.pwdStal != null and model.pwdStal !=''">pwdStal= #{model.pwdStal},</if>
            <if test="model.payPwd != null">payPwd= #{model.payPwd},</if>
            <if test="model.payStal != null and model.payStal !=''">payStal= #{model.payStal},</if>
            <if test="model.state != null and model.state !=''">state= #{model.state},</if>
            <if test="model.loginTime != null ">loginTime= #{model.loginTime},</if>
            <if test="model.imgPath != null and model.imgPath !=''">imgPath= #{model.imgPath},</if>
        </set>
        where id=#{id}
    </update>

    <!--修改用户余额-->
    <update id="updateBalanceById">
        update <include refid="table_name"/>
        set balance = balance + #{balance}
        where id=#{id} and (balance + #{balance}) >= 0
    </update>

    <!--修改用户冻结余额-->
    <update id="updateBlockBalanceById">
        update <include refid="table_name"/>
        set blockedBalance = blockedBalance + #{blockedBalance}
        where id=#{id} and (blockedBalance + #{blockedBalance}) >= 0
    </update>

    <!--修改用户候鸟积分-->
    <update id="updateBirdScoreById">
        update <include refid="table_name"/>
        set birdScore = birdScore + #{birdScore}
        where id=#{id}
    </update>

    <!--修改用户累计投注金额-->
    <update id="updateBettingAmoutById">
        update <include refid="table_name"/>
        set bettingAmout = IFNULL(bettingAmout,0) + #{bettingAmout}
        where id=#{id}
    </update>

    <!--修改用户当天盈亏：每日凌晨清零-->
    <update id="updateCurrentProfitById">
        update <include refid="table_name"/>
        set currentProfit = IFNULL(currentProfit,0) + #{currentProfit}
        where id=#{id}
    </update>


    <!--修改用户累计中奖金额-->
    <update id="updateWiningAmoutById">
        update <include refid="table_name"/>
        set winingAmout = IFNULL(winingAmout,0) + #{winingAmout}
        where id=#{id}
    </update>


    <!--修改用户历史累计返水衡量值-->
    <update id="updateKickBackAmountById">
        update <include refid="table_name"/>
        set kickBackAmount = IFNULL(kickBackAmount,0) + #{kickBackAmount}
        where id=#{id}
    </update>


    <!--修改用激活次数-->
    <update id="updateActiveNoById">
        update <include refid="table_name"/>
        set activeNo = activeNo + #{activeNo}
        where id=#{id} and (activeNo + #{activeNo}) >= 0
    </update>

    <!--修改用户状态-->
    <update id="updateUserStateById">
        update <include refid="table_name"/> set state = #{state}   where id=#{id}
    </update>

    <!--修改用户登录时间-->
    <update id="updateLoginTimeById">
        update <include refid="table_name"/> set loginTime = #{loginTime}   where id=#{id}
    </update>




    <select id="getPoList" resultType="com.xlf.common.po.AppUserPo">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY
	createTime DESC
	limit #{startRow}, #{pageSize};
    </select>
    
    
    <select id="findPoListCount" resultType="int">
        select  count(1) from  app_user
        <include refid="condition"/>

    </select>
    
    
    <select id="homeSUM" resultType="com.xlf.common.vo.pc.HomeUser">
    	select ifnull(SUM(epBalance),0) as epBalance,ifnull(SUM(birdScore),0) as birdScore,ifnull(SUM(assets),0) as assets,ifnull(count(1),0) as userCount from app_user
    </select>
    
    
    <select id="SUMCount" resultType ="int">
		select ifnull(count(1),0) from  app_user 
		<where>
       	 1 = 1
		<if test="model.state != null and model.state !=''">and state= #{model.state}</if>
		<if test="model.createTime != null">AND createTime&gt;=#{model.createTime}</if>
		</where>
	</select>

    <!--批量清理用户返水衡量值-->
    <update id="batchUpdateKickBackAmout">
        update <include refid="table_name"/> set kickBackAmount = 0   where id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")" index="index">#{item}</foreach>
    </update>
    

</mapper>



