<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlf.server.mapper.AppWithDrawMapper">


    <sql id="fields">
        userId,beforeBalance,amount,fee,state,createTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">app_withdraw</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>
    
    
    <select id="findAll" resultType="com.xlf.common.vo.pc.AppWithDrawVo">
       	SELECT w.*,u.uid,u.mobile,c.name,c.bankCard,c.branch from app_withdraw w left join app_user u on w.userId=u.id  left join app_bank_card c on   w.bankCardId = c.id
       	<where>
       	 1 = 1
       	<if test="model.id != null and model.id != ''">AND w.id=#{model.id}</if>
       	<if test="model.state != null and model.state != ''">AND w.state=#{model.state}</if>
		<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
		<if test="model.startTime != null">AND w.createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND w.createTime&lt;#{model.endTime}</if>

		</where>
		ORDER BY w.createTime DESC
		limit #{startRow}, #{pageSize};
    </select>
    
    <select id="findCount" resultType="int">
    	SELECT count(1) from app_withdraw w left join app_user u on w.userId=u.id  left join app_bank_card c on   w.bankCardId = c.id
    	<where>
       	 1 = 1
		<if test="model.id != null and model.id != ''">AND w.id=#{model.id}</if>
		<if test="model.state != null and model.state != ''">AND w.state=#{model.state}</if>
		<if test="model.uid != null and model.uid != ''">AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''">AND u.mobile=#{model.mobile}</if>
		
		<if test="model.startTime != null">AND w.createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND w.createTime&lt;#{model.endTime}</if>
		</where>
    	
    </select>
    
    <select id="findSUM" resultType="BigDecimal">
    	SELECT ifnull(SUM(amount),0) from app_withdraw 
    	<where>
       	 1 = 1
		<if test="model.id != null and model.id != ''">AND id=#{model.id}</if>
		<if test="model.state != null and model.state != ''">AND state=#{model.state}</if>
		
		<if test="model.startTime != null">AND createTime&gt;=#{model.startTime}</if>
		<if test="model.endTime != null">AND createTime&lt;#{model.endTime}</if>
		</where>
    	
    </select>
    
    
    

    
</mapper>



