<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.server.mapper.UseComplainSuggestMapper">

    <sql id="fields">
        userId,userName,content,createTime
    </sql>

    <sql id="fields_id">
        id,
        <include refid="fields"/>
    </sql>

    <sql id="table_name">use_complain_suggest</sql>

    <sql id="selector">
        select
        <include refid="fields_id"/>
        from
        <include refid="table_name"/>
    </sql>

    <sql id="condition">
        <where>
            <if test="model.userId != null and model.userId != ''">userId=#{model.userId}</if>
            <if test="model.userName != null and model.userName != ''">and userName=#{model.userName}</if>
            <if test="model.content != null and model.content != ''">and  content=#{model.content}</if>
            <if test="model.createTime != null and model.createTime != ''">and  createTime=#{model.createTime}</if>
        </where>
    </sql>
	
<!--     <select id="readById" resultType="com.pf.common.po.UseComplainSuggestPo">
        <include refid="selector"/>
        where id=#{id} limit 1;
    </select> -->

<!--     <select id="findUserByCondition" resultType="com.pf.common.po.UseComplainSuggestPo">
        <include refid="selector"/>
        <include refid="condition"/>
        limit 1;
    </select>

    <select id="readList" resultType="com.pf.common.po.UseComplainSuggestPo">
        <include refid="selector"/>
        <include refid="condition"/>
        ORDER BY createTime DESC
        limit #{startRow}, #{pageSize};
    </select> -->
	
	<select id="getInfoByTime" resultType="com.pf.common.vo.pc.UseComplainSuggestVo">
        SELECT s.id,s.userId,s.content,s.createTime,u.uid,u.mobile,u.nickName,u.name AS userName FROM `use_complain_suggest` s LEFT JOIN `app_user` u ON s.userId=u.id 
		WHERE 1=1
		<if test="model.uid != null and model.uid != ''"> AND u.uid=#{model.uid}</if>
		<if test="model.mobile != null and model.mobile != ''"> AND u.mobile=#{model.mobile}</if>
		<if test="model.nickName != null and model.nickName != ''"> AND u.nickName=#{model.nickName}</if>
		<if test="model.content != null and model.content != ''"> AND s.content LIKE '%${model.content}%'</if>
		<if test="model.startTime != null">
		    AND s.createTime&gt;=#{model.startTime} 
		</if>
		<if test="model.endTime != null">
		    AND s.createTime&lt;#{model.endTime} 
		</if>
		ORDER BY createTime DESC
		limit #{startRow}, #{pageSize};
    </select>
</mapper>


