<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <task:annotation-driven/>

    <!-- 日k线图每日数据保存 每天晚上凌晨11：59 -->
    <bean id="CurrencyDatePriceTask" class="com.stb.vpay.task.app.CurrencyDatePriceTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="CurrencyDatePriceTask" method="doTask" cron="30 59 23 * * ?"></task:scheduled>
    </task:scheduled-tasks>
    <!-- 日k线图每小时数据保存 每天每小时执行一次 -->
    <bean id="CurrencyHourPriceTask" class="com.stb.vpay.task.app.CurrencyHourPriceTask"></bean>

    <task:scheduled-tasks>
        <task:scheduled ref="CurrencyHourPriceTask" method="doTask" cron="0 0 0/1 * * ?"></task:scheduled>
    </task:scheduled-tasks>

    <!-- 日k线图每小时数据保存 每天每分钟执行一次 -->
    <bean id="CurrencyMinutePriceTask" class="com.stb.vpay.task.app.CurrencyMinutePriceTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="CurrencyMinutePriceTask" method="doTask" cron="0 0/5 * * * ?"></task:scheduled>
    </task:scheduled-tasks>

    <context:component-scan base-package="com.stb.vpay.task"/>
</beans>