<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <task:annotation-driven/>
    <context:component-scan base-package="com.xlf.task"/>

    <!-- 赛车开奖，早上九点到晚上十二点每13分钟执行一次 -->
        <bean id="racingBettingScheduleTask" class="com.xlf.task.app.RacingBettingScheduleTask"></bean>
        <task:scheduled-tasks>
            <task:scheduled ref="racingBettingScheduleTask" method="doTask" cron="0/30 * 9-23 * * ?"></task:scheduled>
        </task:scheduled-tasks>


    <!--  时时彩开奖，早上十点到凌晨两点每1分钟执行一次 -->
    <bean id="timeBettingScheduleTask" class="com.xlf.task.app.TimeBettingWayTwoScheduleTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="timeBettingScheduleTask" method="doTask" cron="0/30 * 10-23,0-2 * * ?"></task:scheduled>
    </task:scheduled-tasks>


    <!-- 获取网上结果赛车开奖，早上九点到晚上十二点每3分钟执行一次 -->
    <bean id="racingLotteryResultScheduleTask" class="com.xlf.task.app.PayRacingLotteryResultScheduleTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="racingLotteryResultScheduleTask" method="doTask" cron="*/30 * 9-23 * * ?"></task:scheduled>
    </task:scheduled-tasks>


    <!-- 获取网上结果时时彩开奖，早上十点到凌晨两点每1分钟执行一次 -->
    <bean id="timeLotteryResultScheduleTask" class="com.xlf.task.app.PayTimeLotteryResultScheduleTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="timeLotteryResultScheduleTask" method="doTask"
                        cron="0/30 * 10-23,0-2 * * ?"></task:scheduled>
    </task:scheduled-tasks>


    <!-- 每日返水，每天凌晨三点,每5分钟执行一次 -->
    <bean id="returnWalterScheduleTask" class="com.xlf.task.app.ReturnWalterScheduleTask"></bean>
    <task:scheduled-tasks>
        <task:scheduled ref="returnWalterScheduleTask" method="doTask" cron="0 0/2 4-10  * * ?"></task:scheduled>
    </task:scheduled-tasks>

    <!-- 用户返水清零,每天三点钟执行 -->
    <bean id="clearReturnWalterScheduleTask" class="com.xlf.task.app.ClearToddyReturnWaterScheduleTask"></bean>
    <task:scheduled-tasks>
        <!--<task:scheduled ref="returnWalterScheduleTask" method="doTask" cron="0 0 3 * * ?"></task:scheduled>-->
        <task:scheduled ref="clearReturnWalterScheduleTask" method="doTask" cron="0 0 3 * * ?"></task:scheduled>
    </task:scheduled-tasks>
</beans>